body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 2.5rem;
  color:#dbdbdb;
  text-transform:uppercase;
  letter-spacing: 0.03em;
  word-spacing: 0.08em;
}
.btn{
  font-weight: 700px;
}
.btn-primary{
  background-color: #f00;
  padding: 1rem 2rem;
  border-radius: 100px;
  border-color: #f00;
  text-transform: uppercase;
}
.btn-primary:hover{
  background-color:#d20404 ;
  border-color: #d20404;
  border-width: 4px;
}
hr{
  border-color:#f00;
  border-width: 4px;
  max-width: 120px;
}
.buffer{
  height: 12rem;
}
.aligner{
  padding-top: 25px;
}
